.contactContainer {
  display: flex;
  gap: 1rem;
  padding-top: 2rem;
}

.contactText {
  width: 43.75rem;
  text-align: center;
  margin-left: 50px;
  padding: 0 20px;
}

.contactForm {
  /* width: 576px; */
  width: 30rem;
  height: 450px;
  text-align: center;
  margin-right: 2.8rem;
  background: rgba(21, 97, 109, 0.2);
  box-shadow: 10px 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 20px 0;
  margin-left: 30px;
}

.paragrap {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  margin-top: -20px;
  color: #fff;
}

.address h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-top: -6px;
  margin-bottom: -5px;
}

.address h4 {
  margin-bottom: -5px;
}

.contactText h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  color: #fff;
}

.address span {
  font-style: italic;
  font-weight: 200;
  font-size: 15px;
  text-align: center;
}
