.contactContainer {
  display: flex;
  gap: 10px;
}

.contactText {
  width: 43.75rem;
  text-align: center;
  border: solid 1px #fff;
}

.contactForm {
  width: 36rem;
  border: solid 1px #fff;
  text-align: center;
}

.paragrap {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.address h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  color: #fff;
  margin-bottom: 5px;
}

.contactText h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  color: #fff;
}
