.homeContainer {
  margin-top: -8px;
  margin-left: -10px;
}

.logo {
  width: 41.42px;
  height: 52.33px;
  top: 53px;
  left: 73.58px;
  color: #fff;
}

.left,
.right {
  width: 46px;
  height: 142.07px;
}

.homeBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 45px 0 45px;
}

.leftLine {
  width: 100px;
  border: 1px solid #ffecd1;
  transform: rotate(-90deg);
}

.sideLeft {
  display: grid;
  text-align: center;
  gap: 55px;
  margin-left: -25px;
}

.rightLine {
  width: 100px;
  border: 1px solid #ffecd1;
  transform: rotate(-90deg);
}

.sideRight {
  display: grid;
  text-align: center;
  gap: 55px;
  margin-right: -27px;
}

.nameBody {
  font-size: 100px;
  font-weight: 600;
  color: #ffecd1;
  text-shadow: 8px 7px 20px rgba(0, 0, 0, 0.25);
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.socialMedia {
  display: grid;
  margin-left: 65px;
  gap: 10px;
}

.footLine {
  width: 30px;
  border: 1px solid #ffecd1;
  transform: rotate(90deg);
  margin-left: 17px;
}

.scroll .text {
  font-size: 16px;
  letter-spacing: 0.2em;
  transform: rotate(90deg);
  margin-right: 35px;
}

.scroll {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 38px;
}
