.homeContainer {
  margin-top: -8px;
  margin-left: -10px;
  position: relative;
  z-index: 1;
}

.bgImage2 {
  width: 100%;
  height: 600px;
  margin-left: 17rem;
}

.logo {
  width: 41.42px;
  height: 52.33px;
  top: 53px;
  left: 73.58px;
  color: #fff;
}

.left,
.right {
  width: 46px;
  height: 112.07px;
}

.homeBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 45px;
}

.leftLine {
  width: 80px;
  border: 1px solid #ffecd1;
  transform: rotate(-90deg);
}

.sideLeft {
  display: grid;
  text-align: center;
  gap: 45px;
  margin-left: -25px;
}

.rightLine {
  width: 80px;
  border: 1px solid #ffecd1;
  transform: rotate(-90deg);
}

.sideRight {
  display: grid;
  text-align: center;
  gap: 45px;
  margin-right: -27px;
}

.nameBody {
  font-size: 100px;
  font-weight: 600;
  color: #ffecd2;
  letter-spacing: 0.3em;
  text-shadow: 8px 7px 20px rgba(0, 0, 0, 0.25);
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.socialMedia {
  display: grid;
  margin-left: 65px;
  gap: 10px;
}

.socialMedia a {
  color: #fff;
}

.footLine {
  width: 30px;
  border: 1px solid #ffecd1;
  transform: rotate(90deg);
  margin-left: 17px;
}

.scroll .text {
  font-size: 16px;
  letter-spacing: 0.2em;
  transform: rotate(90deg);
  margin-right: 35px;
}

.scroll {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 38px;
}
