@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgba(0, 21, 36, 0.8);
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
}

nav ul {
  display: flex;
  gap: 20px;
}

.home-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 45px 0 45px;
}

.left-line {
  width: 100px;
  border: 1px solid #ffecd1;
  transform: rotate(-90deg);
}

.side-left {
  display: grid;
  text-align: center;
  gap: 55px;
  margin-left: -25px;
}

.right-line {
  width: 100px;
  border: 1px solid #ffecd1;
  transform: rotate(-90deg);
}

.side-right {
  display: grid;
  text-align: center;
  gap: 55px;
  margin-right: -27px;
}

.name-body {
  font-size: 100px;
  font-weight: 600;
  color: #ffecd1;
  text-shadow: 8px 7px 20px rgba(0, 0, 0, 0.25);
}

footer {
  display: flex;
  justify-content: space-between;
}

.foot-line {
  width: 34px;
  border: 1px solid #ffecd1;
  transform: rotate(90deg);
}

.scroll p {
  /* display: grid;
  text-align: center;
  gap: 55px; */
  font-size: 16px;
  letter-spacing: 0.2em;
  transform: rotate(90deg);
}

.scroll {
  text-align: center;
  gap: 30px;
}
