@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: radial-gradient(103.91% 166.99% at -5.14% -15.43%, #15616d 0%, #001524 100%);
  color: #fff;

  /* overflow-y: hidden; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
}

nav ul {
  display: flex;
  gap: 20px;
  z-index: 1;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: rgb(31, 58, 75);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  /* positions the icon to the right and center aligns it vertically */
  position: absolute;
  right: 25px;

  /* top: 50%;
  transform: translateY(-50%); */
  display: none;
}

.hamburger:hover {
  background-color: #2642af;
}

/* Mobile virsion */

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  nav ul {
    display: none;

    /* navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar) */
    position: absolute;
    top: 60px;
    left: 0;

    /* stacks the li tags vertically */

    flex-direction: column;

    /* makes menu span full height and width */
    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
  }

  nav li {
    /* centers link text and strips off margin */
    text-align: center;
    margin: 0;
  }

  nav ul li a {
    color: black;

    /* increases the surface area of the anchor tag to span the full width of the menu */

    width: 100%;
    padding: 1.5rem 0;
  }

  nav li:hover {
    background-color: #eee;
  }
}
