@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: radial-gradient(103.91% 166.99% at -5.14% -15.43%, #15616d 0%, #001524 100%);
  color: #fff;

  /* overflow-y: hidden; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
}

.nav-links {
  z-index: 1;
}

nav ul {
  display: flex;
  gap: 20px;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: rgb(5, 100, 159);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  right: 25px;
  display: none;
  z-index: 1;
}

.hamburger:hover {
  background-color: #482943;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: black;
    border-top: 1px solid black;
    opacity: 0.8;
  }

  .nav-links.expanded ul {
    display: block;
  }

  .nav-links li {
    text-align: center;
    margin: 0;
  }

  .nav-links ul li a {
    color: #fff;
    width: 100%;
    padding: 1.5rem 0;
  }

  .nav-links li:hover {
    background-color: #eee;
  }
}
